# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
db.sqlite3
*.mo

# OS
.DS_Store
Thumbs.db

media/